<mat-card class="container">
        <form class="row justify-content-around" [formGroup]="user">
            <!-- <mat-error *ngIf="loginInvalid">
                The username and password were not recognised
            </mat-error> -->

            <mat-form-field class="col-6">
                <input name="firstName" formControlName='firstName' matInput type="text" placeholder="Nombres" required>
            </mat-form-field>

            <mat-form-field class="col-6">
                <input name="lastName" formControlName='lastName' matInput type="text" placeholder="Apellidos" required>
            </mat-form-field>

            <mat-form-field class="col-6">
                <input name="email" matInput placeholder="Correo electrónico" formControlName="email">
                <mat-error *ngIf="user.get('email').invalid">
                    Por favor, ingresa el correo electrónico
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-6">
                <input name="password" matInput type="texto" placeholder="Contraseña" formControlName="password">
                <mat-error *ngIf="user.get('password').invalid">
                    Por favor, ingresa la contraseña
                </mat-error>
            </mat-form-field>

                <button class="col-3 bg-success text-white" type="submit" mat-raised-button (click)="save()"
                    [disabled]="user.invalid">Guardar
                </button>

                <button class="col-3 bg-secondary text-white" type="submit" mat-raised-button (click)="cancel()">
                    Cancelar
                </button>
        </form>
</mat-card>