<mat-nav-list class="m-2">
    <div class="header">
        <h2 class="text-center">{{user.firstName}} {{user.lastName}}</h2>
    </div>

    <mat-divider></mat-divider>

    <ng-container *ngFor="let item of menuItems">
        <mat-list-item routerLink="{{ item.path }}" routerLinkActive="bg-warning text-dark rounded border border-dark" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.title }}
        </mat-list-item>
    </ng-container>
</mat-nav-list>