<header>
    <mat-toolbar color="primary" class="row bg-dark text-white">
        <mat-toolbar-row>
            <div class="col-12 d-flex justify-content-between align-items-center">
                <button mat-icon-button (click)="toggleSideBar()">
                <mat-icon>menu</mat-icon>
            </button>

            <span class="text-center">GESTOR DE HORAS</span>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="bg-dark ">
                    <button mat-menu-item class="text-white mat-menu-item" (click)="logOut()">Desconectarse</button>
                </mat-menu>
            </div>
            </div>
            
        </mat-toolbar-row>
    </mat-toolbar>
</header>