<div class="container-fluid h-100 background-img">
    <div class="row align-items-center h-100">
        <mat-card class="col-xl-3 col-md-4 col-sm-8 col-8 mx-auto" style="margin-top:auto; margin-bottom:auto">
            <h2 class="text-center">Ingresar</h2>
            <mat-card-content>
                <form [formGroup]="loginForm">
                    <mat-form-field class="col-12">

                        <mat-label>Correo electrónico</mat-label>
                        <input name="email" matInput formControlName="email">
                        <mat-error
                            *ngIf="loginForm.get('email').getError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                            Por favor, ingresa el correo electrónico
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">

                        <mat-label>Contraseña</mat-label>
                        <input name="password" matInput type="password"
                            formControlName="password">
                        <mat-error
                            *ngIf="loginForm.get('password').getError('required') && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                            Por favor, ingresa la contraseña
                        </mat-error>
                    </mat-form-field>
                    <button type="submit" mat-raised-button class="col-12 text-white" [ngClass]="loginForm.invalid ? 'bg-secondary' : 'bg-success'" (click)="onSubmit()"
                        [disabled]="loginForm.invalid">Iniciar Sesion
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>