<mat-card class="card border border-dark mat-elevation-z8">
    <mat-card-header class="justify-content-center">
        <mat-card-title>
            <h1>DESARROLLADORES</h1>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-form-field style="width: 25%; min-width: 250px;">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>

        <div>
            <mat-table [dataSource]="dataSource" matSort style="width: 100%;">

                <!-- First Name Column -->
                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
                </ng-container>

                <!-- Last Name Column -->
                <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Correo electrónico </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                </ng-container>

                <!-- Accions Column -->
                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef class="justify-content-center"> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="justify-content-center">
                        <button mat-icon-button aria-label="Eliminar desarrollador" style="margin: 0 0 0 5px;"
                            (click)="deleteUser(row)">
                            <mat-icon class="text-danger">
                                delete
                            </mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Modificar desarrollador" style="margin: 0 0 0 5px;"
                            (click)="updateUser(row)">
                            <mat-icon class="text-warning">
                                edit
                            </mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
        </div>
        <button mat-raised-button class="bg-dark text-white" style="margin-top: 20px;" (click)="createUser()">
            Añadir desarrollador
            <mat-icon>
                add
            </mat-icon>
        </button>
    </mat-card-content>
</mat-card>