<footer>
    <mat-toolbar class="bg-dark text-white justify-content-center">
        Aplicación creada por Brahian Stiven Garcia Torres &copy; 2020 Todos los
        derechos reservados
    </mat-toolbar>
</footer>
