:host {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

html,body{
    overflow-x: hidden;
}

mat-drawer {
    width: 350px;
    height: 100% !important;
}

mat-drawer-container {
    height: 100% !important;
}

mat-drawer-content {
    padding: 20px;
}

@media (max-width: 768px) {
    mat-drawer {
        width: 100%;
    }
}